* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Digits";
  --purple: #993c87;
  --blue: #295faf;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;

  &::before {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #0d171f 0%,
      #213977 0.01%,
      #0d171f 100%
    );
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -2;
    left: 0;
    top: 0;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 50px;
    background-color: rgba($color: #0d171f, $alpha: 0.9);
    border-bottom: 5px solid var(--blue);
    z-index: 10;

    a.logo {
      width: 55 * 1.5px;
      height: 30 * 1.5px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .links {
      a {
        text-decoration: none;
        color: var(--blue);
        margin: 0 25px;
        transition: 0.3s ease color;
        font-size: 1.25rem;

        &:hover {
          color: var(--purple);
        }
      }
    }

    span.menu {
      color: var(--blue);
      font-size: 2rem;
      display: none;
      cursor: pointer;
      position: absolute;
      z-index: 11;
      right: 50px;
      transition: 0.1s ease opacity;
    }
  }

  h1.title {
    text-align: center;
    color: var(--blue);
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 615px) {
  body {
    nav {
      justify-content: center;

      .links {
        z-index: 10;
        position: absolute;
        right: -100vw;
        top: 75px;
        width: 100vw;
        height: calc(100vh - 75px);
        background-color: #0d171f;
        transition: 0.7s right ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
          margin: 15px 0;
          padding: 15px 5%;
          font-size: 2rem;
        }
      }

      span.menu {
        display: block;
      }

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100%;
        background-color: #0d171f;
        right: -100vw;
        transition: 0.7s right ease-in-out;
      }

      &.show {
        &::before {
          right: 0;
        }
        .links {
          right: 0;
        }
      }
    }
  }
}
