main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;

  img.logo {
    width: 55 * 8px;
    height: 30 * 8px;
  }

  p {
    margin: 50px 0;
    max-width: 75%;
    padding: 0 50px;
    text-align: center;
    color: var(--purple);
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px;

      svg {
        width: 64px;
        height: 64px;
        color: var(--blue);
        transition: 0.3s ease;

        &:hover {
          color: var(--purple);
          transform: scale(1.1);
        }
      }
    }
  }
}

@media screen and (max-width: 615px) {
  main {
    img.logo {
      width: 50%;
      height: 50%;
    }

    p {
      max-width: 90%;
    }

    .social {
      a {
        width: 25%;
        margin: 25px;
        svg {
          width: 96px;
          height: 96px;
        }
      }
    }
  }
}
