main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}
main img.logo {
  width: 440px;
  height: 240px;
}
main p {
  margin: 50px 0;
  max-width: 75%;
  padding: 0 50px;
  text-align: center;
  color: var(--purple);
}
main .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
main .social a svg {
  width: 64px;
  height: 64px;
}
main .social a svg path {
  fill: var(--blue);
  transition: 0.3s ease fill;
}
main .social a svg:hover path {
  fill: var(--purple);
}

@media screen and (max-width: 615px) {
  main img.logo {
    width: 50%;
    height: 50%;
  }
  main p {
    max-width: 90%;
  }
  main .social a {
    width: 25%;
    margin: 25px;
  }
  main .social a svg {
    width: 96px;
    height: 96px;
  }
}