@font-face {
  font-family: "Digits";
  src: url("/assets/fonts/Digits.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Digits";
  --purple: #993c87;
  --blue: #295faf;
}

body {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0d171f 0%, #213977 0.01%, #0d171f 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
body nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 50px;
  background-color: rgba(13, 23, 31, 0.9);
  border-bottom: 5px solid var(--blue);
}
body nav a.logo {
  width: 82.5px;
  height: 45px;
}
body nav a.logo img {
  width: 100%;
  height: 100%;
}
body nav .links a {
  text-decoration: none;
  color: var(--blue);
  margin: 0 25px;
  transition: 0.3s ease color;
  font-size: 1.25rem;
}
body nav .links a:hover {
  color: var(--purple);
}
body nav span.menu {
  color: var(--blue);
  font-size: 2rem;
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 11;
  right: 50px;
  transition: 0.1s ease opacity;
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}
body main img.logo {
  width: 440px;
  height: 240px;
}
body main p {
  margin: 50px 0;
  max-width: 75%;
  padding: 0 50px;
  text-align: center;
  color: var(--purple);
}
body main .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body main .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
body main .social a svg {
  width: 64px;
  height: 64px;
}
body main .social a svg path {
  fill: var(--blue);
  transition: 0.3s ease fill;
}
body main .social a svg:hover path {
  fill: var(--purple);
}

@media screen and (max-width: 615px) {
  body nav {
    justify-content: center;
  }
  body nav .links {
    z-index: 10;
    position: absolute;
    right: -100vw;
    top: 75px;
    width: 100vw;
    height: calc(100vh - 75px);
    background-color: #0d171f;
    transition: 0.7s right ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body nav .links a {
    margin: 15px 0;
    padding: 15px 5%;
    font-size: 2rem;
  }
  body nav span.menu {
    display: block;
  }
  body nav::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100%;
    background-color: #0d171f;
    right: -100vw;
    transition: 0.7s right ease-in-out;
  }
  body nav.show::before {
    right: 0;
  }
  body nav.show .links {
    right: 0;
  }
  body main img.logo {
    width: 50%;
    height: 50%;
  }
  body main p {
    max-width: 90%;
  }
  body main .social a {
    width: 25%;
    margin: 25px;
  }
  body main .social a svg {
    width: 96px;
    height: 96px;
  }
}