body {
  padding: 80px 50px 0;
  display: block;
}

main {
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .title-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
main .title-row h1.title {
  flex: 1;
}
main .title-row span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--blue);
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.3s ease color;
}
main .title-row span::after {
  font-family: "Digits";
  content: "Go back";
  font-size: 1rem;
  width: auto;
  display: inline-flex;
  margin-left: 5px;
  cursor: pointer;
}
main .title-row span:hover {
  color: var(--purple);
}
main #news {
  width: 80%;
}
main #news .post {
  width: 100%;
  color: var(--purple);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 25px;
  transition: 0.3s ease background-color;
}
main #news .post:hover {
  background-color: rgba(41, 95, 175, 0.25);
}
main #news .post h2.title {
  font-size: 2rem;
}
main #news .post hr {
  width: 100%;
  border: 1px solid var(--purple);
  color: var(--purple);
}
main #news .post p.date {
  margin-top: 5px;
  font-size: 1rem;
  text-align: center;
  color: var(--purple);
}
main #news .post p {
  text-align: justify;
  width: 100%;
  color: var(--blue);
}
main #news .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
}
main #news .loading.hidden {
  display: none;
}
main #news .loading p {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #news .loading p::after, main #news .loading p::before {
  content: "...";
  -webkit-animation: loading 5s linear infinite;
          animation: loading 5s linear infinite;
}
main #news .loading p::before {
  opacity: 0;
}
main #news .prev {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--blue);
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease color;
  margin-bottom: 25px;
}
main #news .prev.hidden {
  display: none;
}
main #news .prev:hover {
  color: var(--purple);
}
main #post {
  width: 80%;
  color: var(--blue);
}
main #post h1,
main #post h2,
main #post h3,
main #post h4,
main #post h5,
main #post h6,
main #post strong {
  color: var(--purple);
}
main #post a {
  color: var(--purple);
  text-decoration: underline;
}

@-webkit-keyframes loading {
  0% {
    content: "";
  }
  16% {
    content: ".";
  }
  32% {
    content: "..";
  }
  48% {
    content: "...";
  }
  64% {
    content: "..";
  }
  80% {
    content: ".";
  }
  100% {
    content: "";
  }
}

@keyframes loading {
  0% {
    content: "";
  }
  16% {
    content: ".";
  }
  32% {
    content: "..";
  }
  48% {
    content: "...";
  }
  64% {
    content: "..";
  }
  80% {
    content: ".";
  }
  100% {
    content: "";
  }
}
@media screen and (max-width: 615px) {
  main #news {
    width: 100%;
  }
  main .title-row {
    flex-direction: column;
  }
  main .title-row span {
    margin-bottom: 25px;
  }
  main #post {
    width: 100%;
  }
}