main {
  align-self: flex-start;
  width: 100%;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
main h1.title {
  margin: 25px 0;
  text-align: center;
  color: var(--blue);
  font-size: 2.5rem;
}
main .projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
}
main .projects .project {
  width: 350px;
  min-height: 350px;
  max-height: 350px;
  margin: 0 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: var(--purple);
}
main .projects .project:hover, main .projects .project:active {
  background-color: rgba(41, 95, 175, 0.25);
}
main .projects .project:hover .info .preview-img, main .projects .project:active .info .preview-img {
  opacity: 0;
}
main .projects .project:hover .info p.desc, main .projects .project:active .info p.desc {
  opacity: 1;
  color: var(--purple);
}
main .projects .project h1 {
  font-size: 1.5rem;
}
main .projects .project .info {
  position: relative;
  margin: 15px 0;
  z-index: 0;
}
main .projects .project .info .preview-img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 320px;
  height: 200px;
  transition: 0.3s ease opacity;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .projects .project .info .preview-img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
main .projects .project .info p.desc {
  text-align: center;
  transition: 0.3s ease opacity;
  opacity: 0;
}
main .projects .project .links {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .projects .project .links .link {
  text-decoration: none;
  color: var(--purple);
  width: 68px;
  height: 68px;
  padding: 10px;
  transition: 0.3s ease color;
}
main .projects .project .links .link:hover {
  color: var(--blue);
}

@media screen and (max-width: 500px) {
  main {
    padding: 0;
  }
  main h1.title {
    font-size: 2rem;
  }
  main .projects .project {
    width: 80%;
    max-height: inherit;
  }
}